.row, .row1, .row2, .row3, .row4, .row5, 
.row6, .row7, .row8, .row9, .row10, .row11, 
.row12, .row13, .row14, .row15, .row16 {
    height: auto;
    padding: 10px;
}

h1 {
    text-align: center;
}

#questions-load,
#button {
    padding: 20px;
    font-weight: bold;
    font-size: 40px;
    
}